<!DOCTYPE html>
<html lang="en, ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" integrity="sha384-UW7nqtAfV9h93tGKb9+YoZynF74OcsOt5Irr6Ag4KEbqgcICQv46iB8soY/KJ+Yl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha384-i61gTtaoovXtAbKjo903+O55Jkn2+RtzHtvNez+yI49HAASvznhe9sZyjaSHTau9" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/allChart.css">
    <title>차트 모아보기</title>
    
    <script type="text/javascript">
        console.log("<%= melondata.data[0].title %>");
        console.log("<%= youtubedata.data[0].title %>");
        // 서버에서 받은 데이터를 js 데이터로 변환
        // 외부 js 파일에서 사용 가능하게 변경 및 ejs랑 js랑 섞어쓰니 어려웠습니다.
        
        function youtubeDataMove() {
            let temp = [];
            let obj = {};
            let title, rank, lastWeekRank, albumImg, singer, chartDuration, views, link;
            '<% for(let i = 0; i < youtubedata.data.length; i++) { %>'
                title = '<%= youtubedata.data[i].title %>';
                rank = '<%= youtubedata.data[i].rank %>';
                lastWeekRank = '<%= youtubedata.data[i].lastWeekRank %>';
                albumImg = '<%= youtubedata.data[i].albumImg %>';
                singer = '<%= youtubedata.data[i].singer %>';
                chartDuration = '<%= youtubedata.data[i].chartDuration %>';
                views = '<%= youtubedata.data[i].views %>';
                link = '<%= youtubedata.data[i].link %>';

                obj = {
                    "title": title,
                    "rank": rank,
                    "lastWeekRank": lastWeekRank,
                    "albumImg": albumImg,
                    "singer": singer,
                    "chartDuration": chartDuration,
                    "views": views,
                    "link": link,
                }
                temp.push(obj);
            '<% } %>'

            // console.log(temp);
            return temp;
        }

        function melonDataMove() {
            let temp = [];
            let obj = {};
            let title, rank, rankVariance, albumImg, singer, albumTitle, likeCount;
            '<% for(let i = 0; i < melondata.data.length; i++) { %>'
                title = '<%= melondata.data[i].title %>';
                rank = '<%= melondata.data[i].rank %>';
                rankVariance = '<%= melondata.data[i].rankVariance %>';
                albumImg = '<%= melondata.data[i].albumImg %>';
                singer = '<%= melondata.data[i].singer %>';
                albumTitle = '<%= melondata.data[i].albumTitle %>';
                likeCount = '<%= melondata.data[i].likeCount %>';

                obj = {
                    "title": title,
                    "rank": rank,
                    "rankVariance": rankVariance,
                    "albumImg": albumImg,
                    "singer": singer,
                    "albumTitle": albumTitle,
                    "likeCount": likeCount
                }
                temp.push(obj);
            '<% } %>'

            // console.log(temp);
            return temp;
        }

        function genieDataMove() {
            let temp = [];
            let obj = {};
            let title, rank, rankVariance, albumImg, singer, albumTitle, likeCount;
            '<% for(let i = 0; i < geniedata.data.length; i++) { %>'
                title = '<%= geniedata.data[i].title %>';
                rank = '<%= geniedata.data[i].rank %>';
                rankVariance = '<%= geniedata.data[i].rankVariance %>';
                albumImg = '<%= geniedata.data[i].albumImg %>';
                singer = '<%= geniedata.data[i].singer %>';
                albumTitle = '<%= geniedata.data[i].albumTitle %>';
                totalNumPlay = '<%= geniedata.data[i].totalNumPlay %>';

                obj = {
                    "title": title,
                    "rank": rank,
                    "rankVariance": rankVariance,
                    "albumImg": albumImg,
                    "singer": singer,
                    "albumTitle": albumTitle,
                    "likeCount": likeCount
                }
                temp.push(obj);
            '<% } %>'

            // console.log(temp);
            return temp;
        }

        // ******처음 출력을 위한 초기 실행 함수******
        // 1번 실행해서 데이터 저장
        // tableData에서 사용하기 위한 변수
        const ejsDataYoutube = youtubeDataMove();
        const ejsDataMelon = melonDataMove();
        const ejsDataGenie = genieDataMove();

    </script>
    <!-- 외부 JS 파일 가져오기 -->
    <script type="text/javascript" src="/static/js/youtubeAllChart.js"></script>
    <script type="text/javascript" src="/static/js/melonAllChart.js"></script>
    <script type="text/javascript" src="/static/js/genieAllChart.js"></script>


</head>
<body>
    <!-- 배경 스타일 임시 설정 -->
    <div class="container row item" id="item-2" style="background: black">
        <div class="col-12">
            <!-- 마지막 파일의 날짜 출력 -->
            <span id="dayTag"><%= youtubedata.filelist[youtubedata.filelist.length-1].slice(17, -8); %></span>
        </div>
        
        <div class="col-12 col-md-4 col-lg-4">
            <div>
                <img src="/static/res/image/logo_melon.png">
            </div>
            <table border="1" class="align-middle">
                <tbody>
                    <!-- 멜론 차트 데이터 -->
                    <!-- 샘플, 해당 형식으로 출력 -->
                    <!-- <tr>
                        <td rowspan="2">1</td>
                        <td rowspan="2">
                            <img src="/static/res/image/12.jpg">
                        </td>
                        <td>아이브</td>
                    </tr>
                    <tr>
                        <td>lovedive</td>
                    </tr> -->
                </tbody>
                <tfoot>
                    <!-- 페이지 번호 -->
                    <!-- 샘플, 해당 형식으로 출력 -->
                    <!-- <tr>
                        <td colspan='3'>
                            <ul class="pagination">
                                <li class="page-item disabled" style="cursor: text";>
                                    <a class="page-link">pre</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link">next</a>
                                </li>
                            </ul>
                        </td>
                    </tr> -->
                </tfoot>
            </table>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
            <div>
                <img src="/static/res/image/logo_genie.png">
            </div>
            <table border="1" class="align-middle">
                <tbody>
                    <!-- 지니 차트 데이터 -->
                </tbody>
                <tfoot>
                    <!-- 페이지 번호 -->
                </tfoot>
            </table>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
            <div>
                <img src="/static/res/image/logo_youtube.png">
            </div>
            <table border="1" class="align-middle">
                <tbody>
                    <!-- 유튜브 차트 데이터 -->
                </tbody>
                <tfoot>
                    <!-- 페이지 번호 -->
                </tfoot>
            </table>
        </div>
    </div>
</body>
</html>
